
<html>
  <head>
    <title>FREE movie recommender</title>

    <link rel="stylesheet" href="/static/style.css">
  </head>


<body style="background-color:rgb(245, 138, 191); background-image: url('/static/Rastergrafik.png'); background-position:center; background-size: cover;
background-repeat: no-repeat">

<center>
  <br>
  <br>
  <h1 style="font-size:70px;color:rgb(241, 209, 228);top: 25%;""> MOVIE RECOMMENDER</h1>
    
<div class="center">
  <br>
  <p style="font-family: monospace;font-size:25px; color: rgb(250, 191, 236); -webkit-text-stroke:1px black;;">name your all time top 3 movies and how much you like them from 1 -5 (best):</p>

  <form action="/recommender">

    <input type="text" name="movie1" placeholder="Enter first movie...">
    <input type="text" name="rating1" placeholder="Enter first rating..."><br>

    <input type="text" name="movie2" placeholder="Enter second movie...">
    <input type="text" name="rating2" placeholder="Enter second rating..."><br>

    <input type="text" name="movie3" placeholder="Enter third movie...">
    <input type="text" name="rating3" placeholder="Enter third rating..."><br>

    <br>
    <br>
    <br>
    <input class="button" type="submit" value="get your free recommendation NOW !!!">
  </center>
</form>


  </div>
    

</body>

</html>