<html>
  <head>
    <link rel="stylesheet" href="/static/style.css">
  </head>

    <body style="background-color:powderblue;">
        
       
        <h1 style="top:30%;text-align:center">you should definitely watch: </h1>
        <div class="center">
        <p style="color:rgb(101, 51, 143); font-size:200%; font-family: monaco, Consolas, Lucida Console, monospace; text-align:center"> {{  movie  }}</p>

        <a href="/"><button class="button_back" type="button">GO BACK</button></a>
    </div>
    </body>
 